<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chit Plans</title>
</head>
<body>
    
    <header id = "header">
        <nav>
            <div class="container">
                <div class="text-center">
                    <a href ="/" class ="nav-brand text-dark">Avaliable Chit Plans</a>
                </div>
            </div>
        </nav>
    </header>

    <main id ="site-main">
        <div class ="container">
            <div class ="box-nav d-flex-justify-between">
                <a href ="/add-user" class="border-shadow">
                    <span class ="text-gradient">New User</span>
                </a>
            </div>

            <form action="/"method ="POST">
                <table class ="table">
                    <thead class ="thead-dark">
                        <tr>
                            <th>Chit Value</th>
                            <th>Months</th>
                            <th>Min installment</th>
                            <th>Max installment</th>
                            <th>Min Bid Payable</th>
                            <th>Max Bid Payable</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,00,000</td>
                            <td>50</td>
                            <td>1,300</td>
                            <td>2,000</td>
                            <td>60,000</td>
                            <td>95,000</td>
                            <td>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </main>
</body>
</html>
